<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Notes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<br>
<div class="container">
  <h2>Patient Notes</h2>
  <a th:href="@{/patients/notes/new}" class="btn btn-primary mb-3"style="color: white;">Create New Note</a>
  <table class="table">
    <thead>
    <tr>
      <th>Note ID</th>
      <th>Note</th>
      <th>Creation Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${patientNotes}">
      <td th:text="${note.id}"></td>
      <td th:text="${note.note}"></td>
      <td th:text="${note.creationDate}"></td>
      <td>
        <a th:href="@{/patients/notes/delete/{id}(id=${note.id})}" class="btn btn-danger"style="color: white;">Delete</a>
        <a th:href="@{/patients/notes/edit/{id}(id=${note.id})}" class="btn btn-primary"style="color: white;">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
