<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update Patient</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand text-info" style="text-decoration: none;" th:href="@{/patients/all}">Return to patient
            list</a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2>Update Patient</h2>
            <form method="post" th:action="@{/patient/{id}/update/(id=${patientDto.id})}" th:object="${patientDto}">
                <input th:field="*{id}" type="hidden">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" placeholder="Enter first name" required
                           th:field="*{firstName}" type="text">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" placeholder="Enter last name" required
                           th:field="*{lastName}" type="text">
                </div>
                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input class="form-control" id="birthDate" name="birthDate" required th:value="*{birthDate}"
                           type="date">
                    <script>
                        var currentDate = new Date().toISOString().split("T")[0];
                        document.getElementById("birthDate").setAttribute("max", currentDate);






                    </script>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="gender" th:required="required">
                        <option th:selected="${patientDto.gender == 'M'}" value="M">Male</option>
                        <option th:selected="${patientDto.gender == 'F'}" value="F">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" id="address" placeholder="Enter address" th:field="*{address}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input class="form-control" id="phoneNumber" name="phoneNumber" pattern="\d{8,12}" required
                           th:value="*{phoneNumber}" title="Please enter a valid phone number with 8 to 12 digits."
                           type="text">

                </div>
                <button class="btn btn-primary" type="submit">Update Patient</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
