<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Patient Notes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand text-info" style="text-decoration: none;" th:href="@{/patients/all}">Return to patient
            list</a>
    </div>
</nav>
<br>
<div class="container">
    <h2>Patient Notes</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Note</th>
            <th>Creation Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${patientNotes}">
            <td th:text="${note.note}"></td>
            <td th:text="${note.creationDate}"></td>
            <td>
                <a class="btn btn-primary"
                   style="color: white;"
                   th:href="@{/patient/{patientId}/update-note/{noteId}(patientId=${note.patientId}, noteId=${note.id})}">Edit</a>
                <a class="btn btn-danger"
                   style="color: white;"
                   th:href="@{/patient/{patientId}/delete-note/{noteId}(patientId=${note.patientId}, noteId=${note.id})}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" style="color: white;"
       th:href="@{/patient/{patientId}/add-note(patientId=${patientId})}">Create New Note</a>
</div>
</body>
</html>
