<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Patient Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand text-info d-block" style="text-decoration: none;" th:href="@{/patients/all}">Return to patient list</a>
        <a class="navbar-brand text-info d-block" style="text-decoration: none;" th:href="@{/patient/{patientId}(patientId=${patientId})}">Return to Patient</a>
    </div>
</nav>
<div class="container">
    <h2>Patient Details</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>First Name</th>
            <td th:text="${patient.firstName}"></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="${patient.lastName}"></td>
        </tr>
        <tr>
            <th>Birth Date</th>
            <td th:text="${patient.birthDate}"></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td th:text="${patient.gender}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${patient.address}"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td th:text="${patient.phoneNumber}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-primary" style="color: white;" th:href="@{/patient/{id}/update(id=${patient.id})}">Update</a>
                <a class="btn btn-primary" style="color: white;" th:href="@{/patient/{id}/notes (id=${patient.id})}">View
                    Notes</a>
                <a class="btn btn-primary" style="color: white;"
                   th:href="@{/patient/assessment/{id}(id=${patient.id})}">Assessment</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
