<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update Patient</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand text-info d-block" style="text-decoration: none;" th:href="@{/patients/all}">Return to patient list</a>
        <a class="navbar-brand text-info d-block" style="text-decoration: none;" th:href="@{/patient/{patientId}(patientId=${patientId})}">Return to Patient</a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2>Update Note</h2>
            <form method="post"
                  th:action="@{/patient/{patientId}/update-note/{noteId}(patientId=${patientId}, noteId=${noteDto.id})}"
                  th:object="${noteDto}">
                <div class="form-group">
                    <label for="note">Edit text of the note</label>
                    <input class="form-control" id="note" th:field="*{note}"
                           type="text">
                </div>
                <button class="btn btn-primary" type="submit">Update Note</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
